<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title1}}</title>
</head>
<body>
    <h2><center> {{title1}}</center> </h2>
        <p>
            This year, <span style="color:red;">{{num_worked}}</span> people worked on  <span style="color:red;">{{num_proj}}</span> different projects.<br>Times per project and person (rounded down):
        </p>
    <div>{{table1}}</div>
    <p> 
        In total <span style="color:red;">{{total_num_hours}}</span> hours was worked across all projects. <br>Times per project (rounded down)
    </p>
    <div> {{table2}}</div>
    <div><img src="{{ figure }}" style="height: 100; width: 200; length: 400; float:inline-start"></div>
</body>
</html>